In [1]:
import pandas as pd
import folium
from statistics import mean
from geopy.geocoders import Nominatim

Import addresses data for **geo-coding**

In [2]:
data = pd.read_json("./data/supermarkets.json")
data

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

Drop **ID** column from the data frame

In [3]:
data.drop("ID",1)

,Address,City,Country,Employees,Name,State
0,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

Add a new data frame column **full_address**

In [4]:
data["full_address"] = data["Address"]+ ", "+ data["City"]+", "+ data["State"]+ ", "+ data["Country"]
data

,Address,City,Country,Employees,ID,Name,State,full_address
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA"

Generate the geo-coding for **full_address**.

In [5]:
nom = Nominatim(scheme="http", timeout=10)
data["Geocode"] = data["full_address"].apply(nom.geocode)

data

,Address,City,Country,Employees,ID,Name,State,full_address,Geocode
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666, 21st Street, Noe Valley, SF, California..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA",None
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332, Hill Street, Noe Valley, SF, California,..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [6]:
data.Geocode[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

As we can see **Geocode** contains **Longitude** and **Latitude**. Let's extract and save those as new data frame columns along with other columns.

In [7]:
data["Longitude"] = data["Geocode"].apply(lambda x : x.longitude if x != None else None)
data["Latitude"] = data["Geocode"].apply(lambda x : x.latitude if x != None else None)

data

,Address,City,Country,Employees,ID,Name,State,full_address,Geocode,Longitude,Latitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666, 21st Street, Noe Valley, SF, California...",-122.429343,37.756489
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St, San Francisco, CA 94119, USA",None,NaN,NaN
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332, Hill Street, Noe Valley, SF, California,...",-122.428601,37.755725
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,37.752965
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,37.752146
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,37.753673

In [8]:
data = data.dropna(how='any')
data

,Address,City,Country,Employees,ID,Name,State,full_address,Geocode,Longitude,Latitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St, San Francisco, CA 94114, USA","(3666, 21st Street, Noe Valley, SF, California...",-122.429343,37.756489
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St, San Francisco, California 94114, USA","(332, Hill Street, Noe Valley, SF, California,...",-122.428601,37.755725
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,37.752965
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St, San Francisco, California, USA","(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,37.752146
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St, San Francisco, CA 94114, USA","(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,37.753673

In [9]:
Longitude_list = list(data.Longitude) 
Longitude_list

[-122.429343346939,
 -122.428601306122,
 -122.4317141,
 -122.42981516,
 -122.433219959184]

In [10]:
Latitude_list = list(data.Latitude) 
Latitude_list

[37.756488877551, 37.755725122449, 37.7529648, 37.7521458, 37.7536733265306]

In [11]:
Full_address_list = list(data["full_address"])
Full_address_list

['3666 21st St, San Francisco, CA 94114, USA',
 '332 Hill St, San Francisco, California 94114, USA',
 '3995 23rd St, San Francisco, CA 94114, USA',
 '1056 Sanchez St, San Francisco, California, USA',
 '551 Alvarado St, San Francisco, CA 94114, USA']

### Plotting the Longitude and Latitude Data on a Map

In [12]:
import folium

In [13]:
Locations = folium.Map(location=[mean(Latitude_list),mean(Longitude_list)],zoom_start=16)

for lat, long , name in zip (Latitude_list,Longitude_list,Full_address_list):
    Locations.add_child(folium.Marker(location=[lat,long], popup=name, icon=folium.Icon(color='red')))

Locations

### The End :)